html {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header {text-align: right;}
  .sidenav {height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #313030e8;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    color: aliceblue;  
    text-align:left; 
    line-height: 17px;
}
img{display: block;
  margin-left: auto;
  margin-right: auto;
}


a:visited {color: aliceblue;  }
a:hover {color: orange;}
a:focus {color: orange;}

.urls a:visited {color: black;}
.urls a:hover {color: orange;}
.urls a:focus {color: orange;}

body{
    text-align:left;
    background-color:ghostwhite ;
    
    margin-left: 270px;
    margin-right: 200px;
    padding: 100px;
}
table,th,td {
    border: 1px solid grey;
    text-align:center;    
  } 
  table{
    margin-left: auto;
    margin-right: auto;}
  
  th,td {
     padding:1px;
  }
